<!DOCTYPE html>

<html ng-app="pelicanApp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<link rel="stylesheet" href="style.css">
</head>


<body ng-controller="PelicanController">


	<!-- NAVBAR -->

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navLeft">
	    		<a class="navbar-brand" href="#" ng-click="homePage(true)">Pelican</a>
	    		<button class="btn btn-primary btn-sm" ng-if="activeUser" ng-click="openBigModal()" data-toggle="modal" data-target="#addPostModal" ng-cloak>+</button>
    		</div>

			<div class="navbar-brand profile">
				<a href="#">
					<p ng-if="!activeUser.picUrl" ng-click="login()">Sign up / Log In</p>
      			</a>

      			<span ng-if="activeUser.picUrl" style="display:flex; align-items: center;">
	      			<a href="#">
						<p ng-click="logOut()" style="margin-right: 20px;">Logout</p>
	      			</a>
	  				<div class="img-container">
	  					<img ng-click="homePage(false)" src="{{activeUser.picUrl}}">
	  				</div>
  				</span>

      		</div>

    		<form class="navbar-form search-bar" role="search">
        		<div class="form-group">
         			<input class="form-control" placeholder="Search" ng-model="textSearch">
        		</div>
        		<button class="hidden">Search</button>
        		<span class="glyphicon glyphicon-search" ng-if="!textSearch"></span>
        		<span class="glyphicon glyphicon-remove" ng-if="textSearch" ng-click="cleanSearchQuery()"></span>
      		</form>

		</div>
	</nav>

	<!-- END NAVBAR -->


	<div style="padding-top: 50px;">

		<!-- JUMBOTRON -->
		
		<div class="jumbotron pelican-banner" ng-if="!textSearch" ng-cloak>
			<div class="container">
				<h1>The Pelican Blog</h1>
				<br>

				<button class="btn btn-primary btn-lg" ng-click="login()" ng-if="!activeUser">Sign up / Log in</button>

	  			<button class="btn btn-primary btn-lg" ng-click="openBigModal()" ng-if="activeUser" data-toggle="modal" data-target="#addPostModal">+ Post some crap</button>
			</div>
		</div>

		<!-- END JUMBOTRON -->





		<!-- HOME PAGE LISTS -->

		<div class="container" id="main-body" ng-if="publicPosts && isHomePage" ng-cloak>
			<div class="col-xs-6">

				<div class="list" id="public-feed">
					<ul class="post-data">
						<li class="light-border" ng-repeat="post in publicPosts" data-toggle="modal" data-target="#postModal" ng-click="changeModal(post.title, post.link, post.description, post.posteePicUrl, post.posteeName)">
							<div class="add-one-post" ng-if="activeUser && activeUser.id !== post.posteeId" ng-click="pinPublicPost(post.title, post.link, post.description); $event.stopPropagation()" data-toggle="modal" data-target="#addPostModal">
								<span class="glyphicon glyphicon-pushpin"></span>
							</div>
							<p class="post-title">{{post.title}}</p>
							<a class="post-link" ng-href="{{post.link}}" ng-if="post.link" target="_blank" ng-modal="selectedLink">{{post.link}}</a>
							<p class="post-description" ng-bind-html="post.description | to_trusted"></p>
							<div class="postee-info" ng-if="post.posteeName">
								<div class="img-container rounded-img">
									<img ng-if="post.posteePicUrl" src="{{post.posteePicUrl}}">
								</div>
								<p>{{post.posteeName}}</p>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- END HOME PAGE LISTS -->



		<!-- LISTS -->

		<div class="container" id="main-body" ng-if="!isHomePage" ng-cloak>
			<div class="col-xs-6">

				<div class="list" ng-repeat="list in lists | searchContent: textSearch">
					<div class="page-header">
		  				<h2 ng-bind-html="highlight(list.listName, textSearch)">{{list.listName}}</h2>
		  				<div class="add-one-post" ng-click="openBigModal(list.listId)" data-toggle="modal" data-target="#addPostModal">+</div>
					</div>

					<ul class="post-data">
						<li ng-repeat="post in list.posts" data-toggle="modal" data-target="#postModal" ng-click="changeModal(post.title, post.link, post.description)" style="position: relative">
							<!-- <div class="add-one-post">
								<span class="glyphicon glyphicon-trash"></span>
							</div> -->
							<p class="post-title">{{post.title}}</p>
							<a class="post-link" ng-href="{{post.link}}" ng-if="post.link" target="_blank" ng-modal="selectedLink">{{post.link}}</a>
							<!-- <p class="post-description" ng-if="post.description">{{post.description}}</p> -->
							<div class="post-description" ng-if="post.description" ng-bind-html="post.description | to_trusted"></div>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- END LISTS -->








	</div>

	<!-- POST MODAL -->
	<div class="modal" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2 class="modal-title" id="myModalLabel">{{activeTitle}}</h2>
					<a class="modal-link" href="link" target="_blank" ng-href="{{activeLink}}" ng-if="activeLink">{{activeLink}}</a>


					<div class="postee-info spacing-top" ng-if="posteeName">
						<div class="img-container rounded-img">
							<img ng-if="posteePicUrl" src="{{posteePicUrl}}">
						</div>
						<p>{{posteeName}}</p>
					</div>
				</div>

				<div class="modal-body" ng-if="activeDescription">
					<p ng-bind-html="activeDescription | to_trusted"></p>
				</div>

				<div class="modal-footer">
					<h3>Comments</h3>
				</div>

			</div>
		</div>
	</div>
	<!-- END POST MODAL -->


	<!-- ADD NEW POST MODAL -->
	<div class="modal" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h2>{{modalTitle}}</h2>
				</div>


				<div class="modal-body">
						{{alertMessage}}
						<div class="list-wrapper" ng-show="chooseList">
							<div>
								<ul ng-repeat="list in lists">
									<li class="available-list" ng-click="selectList(list.listId)">{{list.listName}}</li>
								</ul>
							<div class="form-inline">
								<form>
									<input class="form-control" ng-model="postList" placeholder="New list name" id="add-list">
									<button class="btn btn-default" ng-click="createList(postList)">Create a new list</button>
								</form>
							</div>
							</div>
						</div>

						<div ng-show="addPost">
							<form>
								<div class="form-group">
									<input class="form-control" ng-model="postTitle" placeholder="Title" id="add-title">
								</div>
								<div class="form-group">
									<input class="form-control" ng-model="postLink" placeholder="Link" id="add-link">
								</div>
								<div class="form-group">
									<div contenteditable="true" class="form-control" placeholder="Thoughts" id="add-description">
									</div>
								</div>
									<button class="btn btn-primary" ng-click="createPost(postTitle, postLink, postDescription)" id="add-description">Post it!</button>
							</form>
						</div>

				</div>

			</div>
		</div>
	</div>
	<!-- END ADD NEW POST MODAL -->



	</div>

	<!-- END ADD POST MODAL -->




	<!-- Angular File -->
	<script type="text/javascript" src="userController.js"></script>

	<!-- GOOGLE ANALYTICS -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-51712683-3', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>