/*ANGULAR STUFF*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*APP STYLING*/

* {
	box-sizing: border-box;
}

/*HIGHLIGHT COLOR*/
::-moz-selection {
	// background-color: #2e2f33;
	background-color: #1481e3;
	color: #fff;
}

::selection {
	// background-color: #2e2f33;
	background-color: #1481e3;
	color: #fff;
}

/*ALL STYLING*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	padding: 20px;
	cursor: pointer;
}

li:hover {
	background-color: #F4F4F4;
}


.search-bar {
	float: right;
}

.search-bar input {
	min-width: 400px;
}

.hidden {
	visibility: none;
}

.glyphicon-search {
	top: 5px;
	right: 30px;
	color: #1a75ff;
}

.post-description {
	display: block;
}

.page-header {
	margin: 40px 0 0;
}



.navbar {
	margin-bottom: 0px;
}

.post-data a {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jumbotron{
	background-size: cover;
	margin: 0;
}

.pelican-banner {
	background-image: url(images/pelican.png);
}


.btn-primary{
	background: #0093FF;
	border-color: #0093FF;
}


.btn-primary:hover{
	background: black;
	border-color: black;
}




/*/////////////////////////////////////////////////////////////////////////////////////*/
/* MODALS */
/*/////////////////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////////////////////*/
/*POST MODAL*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.modal-dialog {
	height: 100%;
}

#postModal .modal-lg {
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 50%;
	max-width: 700px;
	min-height: 100%;
}

#postModal .modal-content {
	border-radius: 0;
	border: red;
	min-height: 100%;
	background: #eee;
}

#postModal .modal-header {
	background: white;
}

#postModal .modal-body {
	padding: 15px 50px;
	background: white;
}

#postModal .modal p {
	line-height: 1.5;
	right: 0px;
}

#postModal .modal-footer {
	text-align: left;
	background: #eee; 
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*NEW ADD POST MODAL*/
/*/////////////////////////////////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////////////////////////////////*/
/*ADD POST MODAL*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.curtain {
	position: fixed;
	z-index: 9998;
	background-color: rgba(0, 0, 0, 0.52);
	width: 100%;
	height: 100vh;
	top: 0;
}

.big-modal {
	width: 90%;
	height: 90vh;
	margin: auto;
	background-color: #fff;
	position: fixed;
	top: 5vh;
	left: 5%;
	z-index: 9999;
}

.close-modal {
	font-size: 60px;
	float: right;
	padding: 0px 20px;
	color: #E1E1E1;
	cursor: pointer;
}

.close-modal:hover {
	color: #B4B3B3;
}

.list-wrapper {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.available-list {
	cursor: pointer;
	font-size: 20px;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 2px;
	margin: 0;
}

.available-list:hover {
	color: #1a75ff;
	background-color: #E8E8E8;
}