/*ANGULAR STUFF*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*APP STYLING*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h3 {
	text-transform: uppercase;
}

.post-title {
	text-transform: uppercase;
}

.page-header {
	margin: 40px 0 0;
}

* {
	box-sizing: border-box;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	margin-bottom: 20px;
	padding: 20px;
}

li:hover {
	background-color: #F4F4F4;
}

.navbar {
	margin-bottom: 0px;
}

.post-data a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jumbotron{
	background-size: cover;
}


.btn-primary{
	background: #0093FF;
	border-color: #0093FF;
}


.btn-primary:hover{
	background: black;
	border-color: black;
}



/* MODAL ////////////////////////////////////////////////////////////////////////////////*/
.modal-dialog {
	height: 100%;
}

.modal-lg {
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 50%;
	max-width: 700px;
	min-height: 100%;
}

.modal-content {
	border-radius: 0;
	border: red;
	min-height: 100%;
	background: #eee;
}

.modal-header {
	background: white;
}

.modal-body {
	padding: 15px 50px;
	background: white;
}

.modal p {
	font-size: 18px;
	line-height: 1.5;
	font-family: sans-serif;
	right: 0px;
}

.modal-footer {
	text-align: left;
	background: #eee; 
}





/*DEPRECATED CUSTOM MODAL (JMODAL) CODE*/
/*.jmodal {
	width: 50%;
	height: 100vh;
	padding: 25px;
	right: 0;
	background: teal;
	z-index: 10000;
	position: absolute;
}

.jmodal p {
	font-size: 20px;
	line-height: 1.5;
}*/