<clear-search ux-ui load-url-data>
<nav-bar></nav-bar>
<banner-template></banner-template>

	<div class="container main-body" ng-if="!isHomePage && friendList.length" ng-cloak>
		<div class="col-xs-6">


			<div class="list">
				<div class="page-header">
					<h2>Most Recent</h2>
				</div>
				<ul class="post-data">
					<li ng-repeat="post in posts | limitTo:5 | orderBy: '-timestamp'" data-toggle="modal" data-target="#postModal" ng-click="changeModal(post)" style="position: relative">
						<p class="post-title" ng-bind-html="highlight(post.title, textSearch)"></p>
						<a class="post-link" ng-href="{{post.link}}" ng-if="post.link" target="_blank" ng-modal="selectedLink" ng-bind-html="highlight(post.link, textSearch)"></a>
						<p class="post-description read-br" ng-bind-html="highlight(post.description, textSearch)"></p>
					</li>
				</ul>
			</div>


			<div class="list" ng-repeat="list in friendList | filter: textSearch">
				<div class="page-header">
					<a class="override-a" ng-href="/#/profile/{{list.userId}}/{{list.listId}}">
	  					<h2 ng-bind-html="highlight(list.listName, textSearch)"></h2>
  					</a>
	  				<div class="add-one-post" ng-if="!isNotUserData" ng-click="openBigModal(list.listId)" data-toggle="modal" data-target="#addPostModal">+</div>
				</div>

				<ul class="post-data">
					<li ng-repeat="post in list.posts" data-toggle="modal" data-target="#postModal" ng-click="changeModal(post)" style="position: relative">

						<div class="add-one-post" ng-if="isNotUserData" ng-click="pinPublicPost(post.title, post.link, post.description); $event.stopPropagation()" data-toggle="modal" data-target="#addPostModal">
							<span class="glyphicon glyphicon-pushpin"></span>
						</div>

						<p class="post-title" ng-bind-html="highlight(post.title, textSearch)"></p>

						<a class="post-link" ng-href="{{post.link}}" ng-if="post.link" target="_blank" ng-modal="selectedLink" ng-bind-html="highlight(post.link, textSearch)"></a>

						<p class="post-description read-br" ng-bind-html="highlight(post.description, textSearch)"></p>
					</li>
				</ul>
			</div>

		</div>
	</div>

<!-- CLOSING DIV FROM NAV BAR -->
</div>

<modals-template></modals-template>
</clean-search>
