<!-- POST MODAL -->
<div class="modal" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div super-share></div>

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

				<h2 class="modal-title" id="myModalLabel">{{activePost.title}}</h2>
				<a class="modal-link" href="link" target="_blank" ng-href="{{activePost.link}}" ng-if="activePost.link">{{activePost.link}}</a>

				<p class="edit-post"
					ng-click="editPostModal(activePost.title, activePost.link, activePost.description);"
					ng-if="activeUser"
					data-toggle="modal"
					data-target="#addPostModal"
					ng-show="isHomePage === false && !isNotUserData">

					edit post
				</p>

				<div class="postee-info spacing-top" ng-if="activePost.posteeName && isNotUserData">
					<div class="img-container rounded-img">
						<img ng-if="activePost.posteePicUrl" ng-src="{{activePost.posteePicUrl}}">
					</div>
					<p>{{activePost.posteeName}}</p>
				</div>
			</div>

			<div class="modal-body" ng-if="activePost.description">
				<p class="read-br" style="color: #595959" ng-bind-html="activePost.description | to_trusted"></p>
			</div>

			<div class="modal-footer">
				<h3>Comments</h3>


				<div class="comment-wrapper">
					<div class="add-comment" ng-if="activeUser">

		  				<textarea class="form-control" placeholder="Say something" ng-model="newComment" elastic></textarea>

		  				<button class="btn btn-comment" ng-click="addComment(newComment); newComment = '' ">Submit</button>

	  				</div>

	  				<div class="loaded-comments" ng-repeat="comment in postComments">
						
						<div class="img-container rounded-img">
		  					<img ng-src="{{comment.commenteePicUrl}}">
		  				</div>
		  				<div class="comment-info">
			  				<p class="comment-author">{{comment.commenteeName}}</p>
			  				<p class="comment comment-timestamp">{{comment.timestamp | date:'mediumDate'}}</p>
			  				<span class="glyphicon glyphicon-trash"
			  					  ng-click="removeComment(comment)"
			  					  ng-if="activeUser.id === comment.commenteeId">
		  					</span>
			  				<div class="comment">
		  						{{comment.content}}
		  					</div>
	  					</div>
	  				</div>

  				</div>

			</div>
		</div>
	</div>
</div>
<!-- END POST MODAL -->



<!-- ADD NEW POST MODAL -->
<div class="modal" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h2>{{modalTitle}}</h2>
			</div>


			<div class="modal-body">
					{{alertMessage}}
					<div ng-if="alertMessage" style="margin-bottom: 10px"></div>

					<div class="list-wrapper" ng-show="chooseList">
						<div>
							<div class="form-inline new-list">
								<form>
									<input class="form-control" ng-model="postList" placeholder="New list name" id="add-list">
									<button class="btn btn-default" ng-click="createList(postList)">Create a new list</button>
								</form>
							</div>

							<ul ng-repeat="list in lists">
								<li class="available-list" ng-click="selectList(list.listId)">{{list.listName}}</li>
							</ul>
						</div>
					</div>

					<div ng-show="addPost">
						<form>
							<div class="form-group">
								<input class="form-control" ng-model="postTitle" placeholder="Title" id="add-title">
							</div>
							<div class="form-group">
								<input class="form-control" ng-model="postLink" placeholder="Link" id="add-link">
							</div>
							<div class="form-group">
								<textarea class="form-control" placeholder="Thoughts" id="add-description" ng-model="addDescription" elastic>
								</textarea>
							</div>
								<button class="btn btn-primary" ng-click="createPost()" ng-if="!editingPost">Post it!</button>

								<span ng-if="editingPost">
									<button class="btn btn-primary" ng-click="updatePostModal()">Update post</button>
									<button class="btn btn-default" ng-click="updatePostModal(true)">Delete post</button>
								</span>
						</form>
					</div>

			</div>

		</div>
	</div>
</div>
<!-- END ADD NEW POST MODAL -->