<span ux-ui>
<section class="search-body" active-search>

	<div class="search-wrapper">
		<h3 id="search-description">fetch a <a href="/#/">pelican</a></h3>
		<form class="search-form" ng-submit="searchAPelican()">
			<img src="styles/images/search-icon.png" class="search-icon">
			<input id="search-input" ng-model="searchQuery" required/>
		</form>
	</div>

</section>


<!-- DISPLAY RESULTS -->
<div class="container main-body" ng-if="postsResult.length" ng-cloak>
	<div class="col-xs-6">

		<div class="list" id="public-feed">
			<ul class="post-data" keep-loading>
				<span ng-repeat="post in postsResult">
					<li class="light-border" data-toggle="modal" data-target="#postModal" ng-click="changeModal(post)">
						<!-- TODO: PUSHPIN IS BROKEN FOR NOW -->
						<div class="add-one-post" ng-if="activeUser && activeUser.id !== post.posteeId" ng-click="pinPublicPost(post.title, post.link, post.description); $event.stopPropagation()" data-toggle="modal" data-target="#addPostModal">
							<span class="glyphicon glyphicon-pushpin"></span>
						</div>
						<!-- <p class="post-title">{{post.title}}</p> -->
						<p class="post-title" ng-bind-html="highlight(post.title, searchQuery)">{{post.title}}</p>
						<a class="post-link" ng-href="{{post.link}}" ng-if="post.link" target="_blank" ng-modal="selectedLink">{{post.link}}</a>
						<p class="post-description read-br" ng-bind-html="highlight(post.description, searchQuery)">{{post.description}}</p>
					</li>

					<a ng-href="/#/profile/{{post.posteeId}}">
						<div class="postee-info click-for-profile"
							 ng-if="post.posteeName">

							<div class="img-container rounded-img">
								<!-- <img ng-if="post.posteePicUrl" ng-src="{{post.posteePicUrl}}"> -->
								<img ng-if="post.posteePicUrl" src="http://www.gravatar.com/avatar/0036d0c454ad1496ba4a04f8d9ac32fb?d=https%3A%2F%2Fm2.behance.net%2Frendition%2Fpm%2F6507107%2Fdisp%2F05d8e97450a4564f4ca3d53c7a1544e9.png">
							</div>
							<p>{{post.posteeName}}</p>
						</div>
					</a>
				</span>
			</ul>
		</div>

	</div>
</div>

<modals-template></modals-template>
</span>
